
{% assign g = site.data.footer %}
{% assign foot = g.content %}

      <footer class="site-footer site-bg-dark site-section">
          <div class="container">
              <div class="row mb-5">
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-4 no-site-animate">
                              <h2 class="site-heading-2">{{foot.left_text_title}}</h2>
                              <p>{{foot.left_text_content}}</p>
                          </div>
                          <div class="col-md-1"></div>
                          <div class="col-md-3 no-site-animate">
                              <div class="site-footer-widget mb-4">
                                  <h2 class="site-heading-2">{{foot.middle_left_links_title}}</h2>
                                  <ul class="list-unstyled">
                                      <li><a href="#" class="py-2 d-block">About Us</a></li>
                                      <li><a href="#" class="py-2 d-block">Chefs</a></li>
                                      <li><a href="#" class="py-2 d-block">Events</a></li>
                                      <li><a href="#" class="py-2 d-block">Contact</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-2 no-site-animate">
                              <div class="site-footer-widget mb-4">
                                  <h2 class="site-heading-2">{{foot.middle_right_links_title}}</h2>
                                  <ul class="list-unstyled">
                                      <li><a href="#" class="py-2 d-block">Foods</a></li>
                                      <li><a href="#" class="py-2 d-block">Drinks</a></li>
                                      <li><a href="#" class="py-2 d-block">Breakfast</a></li>
                                      <li><a href="#" class="py-2 d-block">Brunch</a></li>
                                      <li><a href="#" class="py-2 d-block">Dinner</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-2 no-site-animate">
                              <div class="site-footer-widget mb-4">
                                  <h2 class="site-heading-2">{{foot.right_links_title}}</h2>
                                  <ul class="list-unstyled">
                                      <li><a href="#" class="py-2 d-block">Foods</a></li>
                                      <li><a href="#" class="py-2 d-block">Drinks</a></li>
                                      <li><a href="#" class="py-2 d-block">Breakfast</a></li>
                                      <li><a href="#" class="py-2 d-block">Brunch</a></li>
                                      <li><a href="#" class="py-2 d-block">Dinner</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row no-site-animate">
                  <div class="col-md-12 text-center">
                      <div class="site-footer-widget mb-4">
                          <ul class="site-footer-social list-unstyled ">
                              <li class="no-site-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                              <li class="no-site-animate"><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                              <li class="no-site-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-12 text-center">
                      <p>
                          &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template was made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
                  </div>
              </div>
          </div>
      </footer>