---
layout: default
---       
    <section class="site-section" id="section-about">
            <div class="container">
              <div class="row">
                <div class="col-md-5 site-animate mb-5">
                    <h2 class="site-primary-title display-4">{{page.name}}</h2>
                    <p>Price: ${{page.price}} 
                        {% for mt in page.tags %}<span class="tag">{{ mt.title }}</span> {% endfor %}
                    </p>
      
                  <p class="mb-4">Incredibly amazing item description that makes you want to get this. Lorem ispum I don't want to look up a generator this seems counter productive.</p>
                  <p><a href="/menu" class="btn btn-secondary btn-lg">Back to Menu</a></p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
                    
                    <img src="{{page.images}}" class="img-fluid" alt="{{page.images}}"/>
     
                                  
                </div>
              </div>
            </div>
          </section>